<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  	<p>
  	  <button type="button" class="btn btn-success btn-lg"><%= link_to "Word", words_path %></button>
  	  <button type="button" class="btn btn-success btn-lg"><%= link_to "Lession", categories_path %></button>
  	</p>
    <h2>Activities</h2><hr>
    <ul class="activities">
      <% @activities.each do |activity| %>
        <li>
          <div>
            <%#= gravatar_for activity, size: 50 %>
            <%#= link_to activity.name, activity %>           
            <p><%= activity.category_id %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>